@font-face {
  font-family: 'Source Code Pro', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
}

@font-face {
  font-family: 'Nunito Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Raleway&family=Source+Code+Pro&display=swap');
}

@font-face {
  font-family: 'Playpen Sans', cursive; 
  src: url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('mountains.jpg');
    background-size: cover;
    font-size: 16px;
  }
  
  body {
    display: block;
    width: auto;
    min-height: 100vh;
    position: relative;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    border: 1px solid #466995;
    border-radius: 7px;
    color: whitesmoke;
    background-color: gray;
    width: 100%;
    padding: 2rem 0;
    margin: 0 0 3rem 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
  }
  
.nav-link {
  padding: 0 1rem 0 1rem;
}

.container {
  width: auto;
}  
  
  
  .activities-panel {
    display: flex;
    justify-content: space-evenly;      
    margin-top: 15%;
  }

    
  .activity {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #466995;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    cursor: pointer;
    margin: 10px;
    padding: 15px 15px;
    align-items: center;
    justify-content: center;
    color: rebeccapurple;
    background-color: lightgray;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  
  }
  
  .activity:hover { 
    text-decoration: underline;
    background-color: mediumseagreen;
    font-size: 19px;
    padding: 15px 20px;
    transition: font-size 1s;
  }
  
  .activity:active {
    color: orange;
  }
  
.container {
  margin-bottom: 8px;
}

     
.color-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

.color-lightgray, .color-whitesmoke, .color-gray, .color-mediumseagreen, .color-rebeccapurple, .color-aqua  {
    border: 1px solid gray;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 5px;
}

.color-lightgray {
  background-color: lightgray;
}

.color-whitesmoke {
  background-color: whitesmoke;
}

.color-gray {
  background-color: gray;
}

.color-mediumseagreen {
  background-color: mediumseagreen;
}

.color-rebeccapurple {
  background-color: rebeccapurple;
}

.color-aqua {
  background-color: aqua;
}

.font-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.font-panel-source-code-pro, .font-panel-nunito-sans, .font-panel-poppins, .font-panel-raleway{
  border: 1px solid gray; 
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin: 0.8rem 0.5rem;
  background-color: lightgray;
}

.font-panel-source-code-pro {
  font-family: 'Source Code Pro', monospace;
  font-style: italic;
}

.font-panel-nunito-sans {
  font-family: 'Nunito Sans', sans-serif;
}

.font-panel-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-panel-raleway {
  font-family: 'Raleway', sans-serif;
}


.font-labelsource-code-pro, .font-labelsource-code, .font-labelnunito-sans, .font-labelpoppins, .font-labelraleway {
  font-size: 1.25rem;
  font-weight: bold;
}


.boldsource-code-pro, .boldnunito-sans, .boldpoppins, .boldraleway {
  font-weight: bold;
}

.italicsource-code-pro, .italicnunito-sans, .italicpoppins, .italicraleway {
  font-style: italic;  
}


.text-panel {
  border: 1px solid gray; 
  border-radius: 7px;
  background-color: lightgray;
  margin: 1rem 0;
  padding: 1rem;
}

.flat {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.sceumorphic {
  padding-bottom: 3rem;
}

.sceumorphic-button, .flat-button {
  display: flex;
  justify-content: space-evenly;      
  padding-top: 1.5rem;
}


.flat-btn {
  font-family: 'Raleway', sans-serif;
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  color: black;
  background-color: red;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.flat-text {
  position: absolute;
  top: 40px;
  left: 10px;
}

.buttons {
  color: whitesmoke;
}

.h3-flat-button {
  background-color: gray;
}

.container-links {
  margin: 3rem 0;
}

.links {
  padding-bottom: 2rem;
  color: whitesmoke;
}

.breadcrumbs {
  color: whitesmoke;
  padding-bottom: 2rem;
}

.ordinary {
  display: flex;
  justify-content: space-evenly;   
  padding-bottom: 20px;   
}

.ordinary, .breadcrumb-ordinary, .location-attribute {
  margin: 2.5rem 0;
}

.breadcrumb-ordinary li {
  display: inline-block;
  text-decoration: none;
}

.breadcrumb-ordinary li+li::before {
  padding: 5px;
  display: inline-block;
}

ul.breadcrumb-ordinary li+li:before {
  content: "/";
  color: black;
}


a {
  text-decoration: underline;
  cursor: pointer;
}

a.bread {
  text-decoration: none;
  color: whitesmoke;
}

a:visited {
  color: blueviolet;
}


a:hover {
  text-decoration: none;
  color: whitesmoke;
}

a:active {
  color: orange;
}



h1, h2, h3 {
    color: whitesmoke;
    text-align: center;
}

  h1 {
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 650;
    font-family: 'Poppins', sans-serif;
    padding-left: 0;
    background-color: gray;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


p {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}


.footer {
  flex: 1;
  color: whitesmoke;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 7px;
}


@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .activities-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(75px, auto);      
    margin-top: 15%;
  }

  .ordinary, .breadcrumb-ordinary, .location-attribute {
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  .activities-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);  
    margin-top: 1%;
  }
  .activity {
    font-size: 0.75rem;
  }

  .ordinary, .breadcrumb-ordinary, .location-attribute {
    margin: 1rem 0;
  }

  .color-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    margin-top: 1rem;
  }  

  .color-lightgray, .color-whitesmoke, .color-gray, .color-mediumseagreen, .color-rebeccapurple, .color-aqua  {
      padding: 2px;
      margin: 2px 1px;
  }
  
 
}

@media only screen and (max-width: 300px) {
  
  .activity {
    font-size: 0.5rem;
  }

  nav {
    display: none;
  }
  
  .ordinary, .breadcrumb-ordinary, .location-attribute {
    margin: 1rem 0;
  }
}
  


